# Dependencias
node_modules/
.pnpm-store/

# Builds (Producción)
dist/
build/
out/

# Variables de entorno (¡CRÍTICO! Nunca subas tus keys)
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs y Editores (Configuraciones locales)
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Sistema (Windows/macOS)
Thumbs.db
desktop.ini
DS_Store

# Testing
coverage/